.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.big-box{
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.form-group{
  margin: 2rem;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  overflow: auto;
  max-height: 100vh;
}
