<div class="container text-center">
  <h1>Rate the movie:</h1>
  <div class="stars">
    <a (click)="rate(2)">
      <button class="star" style="background: transparent; border: 0px">
        &star;
      </button>
    </a>
    <a (click)="rate(4)">
      <button class="star">
        &star;
      </button>
    </a>
    <a (click)="rate(6)">
      <button class="star">
        &star;
      </button>
    </a>
    <a (click)="rate(8)">
      <button class="star">
        &star;
      </button>
    </a>
    <a (click)="rate(10)">
      <button class="star">
        &star;
      </button>
    </a>
  </div>
</div>
